card-highlight = #FFEB3B

.group
	padding .25em 0.1em
	border 3px solid #fff
	margin 0 .5em
	border-radius 10px

.card
	vertical-align top
	display inline-block
	width 120px
	height 180px
	font-weight bold
	background #fff
	font-size 0.9em
	padding 0.5em
	margin 0 0.3em
	border-radius 5px
	paper-transition box-shadow transform width height font-size
	user-select none
	word-wrap break-word
	white-space normal
	z-index 4
	cursor default
	text-align left
	
	&.large
		font-size 1em
		width 150px
		height 200px
	
	&.black
		color #fff
		background #000
		
	&.white
		color #000
		flex 1

		&.chosen
			opacity 0.1
		
		&.clickable
			cursor pointer
			
			&:hover
				background card-highlight
		
		&.winner
			background card-highlight
			@extend .animated
			@extend .rubberBand
			// @extend .animate-forever
			z-index 7
			box-shadow 0 0 4px rgba(0,0,0,0.4)
			
		&.ng-animate
			transition 0s none

	&.submission
		transform scale(0)
	
	&.dropzone
		border 1px dashed rgba(255,255,255,0.2)
		background none
		color rgba(255,255,255,0.4)
		display flex
		justify-content center
		align-items center
		text-align center
		font-weight normal
		position relative
	
		@extend .animated
		@extend .animate-forever
		@extend .pulse


.hand .card
	transition-duration 0.3s