.form-input
	display inline-block !important
	width auto !important
	vertical-align middle !important
	padding .5em .5em
	border 0
	border-bottom 2px solid #ddd
	margin-right 1em
	font-size inherit
	
	&.center
		text-align center
	
	&:focus, &:focus:active
		outline 0
