.game
	background #333
	color #fff
	padding-bottom 0.2em
	

.hand
	overflow-x scroll
	white-space nowrap
	

.roomName
	font-weight 100
	font-size 2em
	margin-bottom 1em
	padding 0.5em 1em
	border 1px solid rgba(255, 255, 255, 0.5)
	border-radius 5px
	background none
	width 140px
	display block
	text-align center
	color #fff
	font-family inherit
	

