.topbar
	background #000
	height 4em
	padding 0 1em
	
	.backBtn
		padding 0.5em
		transition background-color 0.3s ease
		cursor pointer
		
		&:hover
			background-color rgba(255, 255, 255, 0.3)


.nickname
	padding 1em
	color #fff
	

.startbox
	background #fff
	
	
.joinbox
	background #fff