@keyframes slideUp
	0%
		opacity 0
		transform translateY(-100px)
	100%
		opacity 1
		transform translateY(0)

.login
	background #fff
	
	h1, p, form
		@extend .animated
		animation-duration 0.5s
		animation-name slideUp
	
	p
		animation-delay 0.2s
	
	form
		animation-delay 0.4s
	