user-select()
	-webkit-user-select arguments
	-moz-user-select arguments
	user-select arguments


*
	box-sizing border-box

	
body
	font-family 'Helvetica Neue', Helvetica, sans-serif
	color #333
	background #333
	margin 0
	min-height 100vh
	font-size 14px
