.scoreboard
	background #eee
	color #333
	padding 1em 0
	
	.player
		border-right 1px solid #aaa
		text-align center
		
		&:last-of-type
			border-right none
			
	.score
		border-radius 3px
		background #333
		color #eee
		padding 0.3em 0.6em
	
	.judge
		font-weight bold
		
	.host
		text-decoration underline
		
	.roomName
		text-align center
		
		span
			border 1px solid rgba(0,0,0,0.2)
			padding 0.2em 0.4em
			border-radius 3px