[layout], [data-layout]
	display flex
	
[layout~="row"], [data-layout~="row"]
	flex-direction row
	
[layout~="col"], [data-layout~="col"]
	flex-direction column
	
[layout~="full-col"], [data-layout~="full-col"]
	flex-direction column
	min-height 100vh
	
[justify~="start"], [data-justify~="start"]
	justify-content flex-start
	
[justify~="end"], [data-justify~="end"]
	justify-content flex-start
	
[justify~="center"], [data-justify~="center"]
	justify-content center
	
[justify~="between"], [data-justify~="between"]
	justify-content space-between
	
[justify~="around"], [data-justify~="around"]
	justify-content space-around
	
[align~="start"], [data-align~="start"]
	align-items flex-start
	
[align~="end"], [data-align~="end"]
	align-items flex-end
	
[align~="center"], [data-align~="center"]
	align-items center
	
[align~="stretch"], [data-align~="stretch"]
	align-items stretch



@media screen and (max-width: small)
	[layout~="sm-row"], [data-layout~="sm-row"]
		flex-direction row
		
	[layout~="sm-col"], [data-layout~="sm-col"]
		flex-direction column
	
	[layout~="sm-full-col"], [data-layout~="sm-full-col"]
		flex-direction column
		min-height 100vh
		
	[justify~="sm-start"], [data-justify~="sm-start"]
		justify-content flex-start
		
	[justify~="sm-end"], [data-justify~="sm-end"]
		justify-content flex-start
		
	[justify~="sm-center"], [data-justify~="sm-center"]
		justify-content center
		
	[justify~="sm-between"], [data-justify~="sm-between"]
		justify-content space-between
		
	[justify~="sm-around"], [data-justify~="sm-around"]
		justify-content space-around
		
	[align~="sm-start"], [data-align~="sm-start"]
		align-items flex-start
		
	[align~="sm-end"], [data-align~="sm-end"]
		align-items flex-end
		
	[align~="sm-center"], [data-align~="sm-center"]
		align-items center
		
	[align~="sm-stretch"], [data-align~="sm-stretch"]
		align-items stretch



@media screen and (max-width: medium) and (min-width: small)
	[layout~="md-row"], [data-layout~="md-row"]
		flex-direction row
		
	[layout~="md-col"], [data-layout~="md-col"]
		flex-direction column
	
	[layout~="md-full-col"], [data-layout~="md-full-col"]
		flex-direction column
		min-height 100vh
		
	[justify~="md-start"], [data-justify~="md-start"]
		justify-content flex-start
		
	[justify~="md-end"], [data-justify~="md-end"]
		justify-content flex-start
		
	[justify~="md-center"], [data-justify~="md-center"]
		justify-content center
		
	[justify~="md-between"], [data-justify~="md-between"]
		justify-content space-between
		
	[justify~="md-around"], [data-justify~="md-around"]
		justify-content space-around
		
	[align~="md-start"], [data-align~="md-start"]
		align-items flex-start
		
	[align~="md-end"], [data-align~="md-end"]
		align-items flex-end
		
	[align~="md-center"], [data-align~="md-center"]
		align-items center
		
	[align~="md-stretch"], [data-align~="md-stretch"]
		align-items stretch



@media screen and (max-width: large) and (min-width: medium)
	[layout~="lg-row"], [data-layout~="lg-row"]
		flex-direction row
		
	[layout~="lg-col"], [data-layout~="lg-col"]
		flex-direction column
	
	[layout~="lg-full-col"], [data-layout~="lg-full-col"]
		flex-direction column
		min-height 100vh
		
	[justify~="lg-start"], [data-justify~="lg-start"]
		justify-content flex-start
		
	[justify~="lg-end"], [data-justify~="lg-end"]
		justify-content flex-start
		
	[justify~="lg-center"], [data-justify~="lg-center"]
		justify-content center
		
	[justify~="lg-between"], [data-justify~="lg-between"]
		justify-content space-between
		
	[justify~="lg-around"], [data-justify~="lg-around"]
		justify-content space-around
		
	[align~="lg-start"], [data-align~="lg-start"]
		align-items flex-start
		
	[align~="lg-end"], [data-align~="lg-end"]
		align-items flex-end
		
	[align~="lg-center"], [data-align~="lg-center"]
		align-items center
		
	[align~="lg-stretch"], [data-align~="lg-stretch"]
		align-items stretch



@media screen and (min-width: large)
	[layout~="xl-row"], [data-layout~="xl-row"]
		flex-direction row
		
	[layout~="xl-col"], [data-layout~="xl-col"]
		flex-direction column
	
	[layout~="xl-full-col"], [data-layout~="xl-full-col"]
		flex-direction column
		min-height 100vh
		
	[justify~="xl-start"], [data-justify~="xl-start"]
		justify-content flex-start
		
	[justify~="xl-end"], [data-justify~="xl-end"]
		justify-content flex-start
		
	[justify~="xl-center"], [data-justify~="xl-center"]
		justify-content center
		
	[justify~="xl-between"], [data-justify~="xl-between"]
		justify-content space-between
		
	[justify~="xl-around"], [data-justify~="xl-around"]
		justify-content space-around
		
	[align~="xl-start"], [data-align~="xl-start"]
		align-items flex-start
		
	[align~="xl-end"], [data-align~="xl-end"]
		align-items flex-end
		
	[align~="xl-center"], [data-align~="xl-center"]
		align-items center
		
	[align~="xl-stretch"], [data-align~="xl-stretch"]
		align-items stretch
