@media screen and (max-width: small)
	.scoreboard
		.player
			flex 0 !important
			margin 0.5em 0
			
			&:last-of-type
				border-right 0
		
		
	.board
		flex 0 !important
		
		.card.black, .card.dropzone, .group
			margin 1em 0
	
	
	.hand
		overflow visible
		white-space normal
		
		.handle
			display block
			background #eee
			color #333
			padding 1em
			margin-bottom 0.5em
			cursor pointer
			
		.card
			margin-bottom 0.5em
		