<div class="game" layout="full-col">
	<!--
		Scoreboard
	-->
	<div class="scoreboard" layout="row sm-col">
		<div class="player" flex="1" ng-repeat="player in memory.game.players" ng-class="{winner: memory.game.winnerID == player.socketID}">
			<icon glyph="gavel" ng-show="player.isJudge"/>
			<!-- <icon glyph="user" ng-show="player.isHost"/> -->
			{{ player.nickname }} <span class="score" ng-show="memory.game.started">{{ player.blackCards.length }}</span>
		</div>
	</div>

	<!--
		Pregame
	-->
	<div layout="col" flex="1" justify="center" align="center" ng-hide="memory.game.started" class="notStarted">

		<h1>The game has not begun yet</h1>

		<input type="text" readonly class="roomName" value="{{ memory.game.roomName | uppercase }}" ng-click-select>

		<button
			class="btn animate-forever"
			ng-class="{
				tada: memory.game.players.length >= memory.game.minPlayers,
				animated: memory.player.isHost
			}"
			ng-click="start()"
			ng-disabled="memory.game.players.length < memory.game.minPlayers"
			ng-show="memory.game.host.socketID == memory.player.socketID"
		>
			Start
		</button>
	</div>

	<!--
		Game started
	-->
	<div layout="row sm-col" justify="center" align="center" flex="1" class="board" ng-show="memory.game.started">
		<!--
			Black Card
		-->
		<black-card data="memory.game.blackCard.text"></black-card>

		<!--
			Dropzone
		-->
		<div class="large dropzone card" ng-show="memory.player.submissions.length < memory.game.blackCard.pick && !memory.player.isJudge && !memory.player.waiting">
			Choose {{ memory.game.blackCard.pick }} card<span ng-show="memory.game.blackCard.pick > 1">s</span>
		</div>

		<!--
			Submissions
		-->
		<div class="cards" layout="row" justify="start">
			<!--
				Submission Groups
			-->
			<div ng-repeat="(socketID, submission) in memory.game.submissions" ng-class="{group: submission.length > 1}" layout="row">
				<!--
					Submitted Cards
				-->
				<div
					ng-repeat="card in submission"
					ng-click="choose(socketID, card)"
					ng-class="{
						clickable: memory.player.isJudge && memory.game.reveal,
						winner: socketID == memory.game.winnerID
					}"
					class="large white card"
				>
					<span ng-show="memory.game.reveal">{{ card.text }}</span>
				</div>
			</div>
		</div>
	</div>

	<!--
		Hand
	-->
	<div class="hand" ng-show="memory.game.started && !memory.player.isJudge" ng-class="{waiting: memory.player.waiting, showHand: showHand}">
		<div class="handle" ng-click="showHand =! showHand"><i class="fa fa-hand-o-down"></i> Your Cards</div>
		<card ng-repeat="white in memory.player.whiteCards" data="white" flex="1"></card>
	</div>
</div>

<!--
	Game over
-->
<div layout="full-col" justify="center" align="center" ng-show="memory.game.ended" class="gameOver">

	<h1>{{ winner.nickname }} wins!</h1>

	<div layout="row">
		<black-card ng-repeat="card in winner.blackCards" data="card" class="animated animate-forever tada win-card-{{$index}}"></black-card>
	</div>

	
</div>